<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tomato Ripeness Identification Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Century+Gothic">
  </head>
  <body onload="showSection('select-choices')">
    <banner>
      <div class="red-banner">
        <div class="red-banner-btn">
          <a href="#" onclick="showSection('home')">What is Tomato?</a>
          <a href="#" onclick="showSection('main')">Identification</a>
          <a href="#" onclick="showSection('about')">About</a>
        </div>
      </div>
    </banner>
    <main>
      <!-- <h1>Tomato Ripeness Identification</h1> -->
      <div id="home" class="section">
        <img src="../static/picture/bg-3.png">      
      </div>

      <div id="main" class="section">
        <img src="../static/picture/bg-2.png">
        <div class="container con-main">
          <div class="con container-left">
            
          </div>
          <div class="con container-right">
            <br>
            <br>
            <p>Check the ripeness of your tomatoes here: </p>
            <button class="btn btn-green" onclick="showSection('select-choices')">Continue</button>
          </div>
        </div>
      </div>

      <div id="select-choices" class="section">
        <h1>Tomato Ripeness Identification</h1>
        <div class="container">
          <div class="con container-left">
            <h2>Image Capture</h2>
            <img src="../static/capture.png" alt="">
            <button class="btn btn-redlight btncon" onclick="showSection('capture')">Capture</button>
          </div>
          
          <div class="con container-right">
            <h2>Image Upload</h2>
            <img src="../static/upload.png" alt="">
            <button class="btn btn-redlight btncon" onclick="showSection('upload')">Upload</button>
          </div>

        </div>
        <div class="ver-container">
          <div class="identifikasi">
            <div class="image-container">
                <p>Image Path: {{ image_path }}</p>
                {% if image_path %}
                    <img src="{{ url_for('static', filename=image_path) }}" alt="Image can't be displayed">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>
            <form action="{{ url_for('identifikasi') }}" method="POST">
              <button class="btn btn-white" onclick="showSection('result')">Identification</button>
            </form>
            <button class="btn btn-redpale" onclick="window.location.href='{{ url_for('hapus') }}'">Delete</button>
            <button class="btn btn-reddark" onclick="showSection('main')">Back</button>
          </div>
        </div>

      </div>

      <div id="capture" class="section">
        <h1>Tomato Ripeness Identification</h1>
        <div class="con-in container-capture">
          <img src="{{ url_for('video_feed') }}" id="video" width="640" height="480">
          <form action="/take_picture" method="POST">
              <button class="btn-redpale" type="submit">Take Picture</button>
          </form>
          <button class="btn btn-reddark" onclick="showSection('select-choices')">Back</button>
        </div>
      </div>

      <div id="upload" class="section">
        <h1>Tomato Ripeness Identification</h1>
        <div class="con-in container-upload">
          <form action="/upload_picture" method="POST" enctype="multipart/form-data">
              <input type="file" name="file">
              <button class="btn btn-redpale" type="submit">Upload Picture</button>
          </form>
          <button class="btn btn-reddark" onclick="showSection('select-choices')">Back</button>
        </div>
      </div>

      <div id="result" class="section">
        <h1>Tomato Ripeness Identification</h1>
        <div class="image-container">
          <p>Image Path: {{ image_path }}</p>
            {% if image_path %}
                <img src="{{ url_for('static', filename=image_path) }}" alt="Image can't be displayed">
            {% else %}
                <p>No image available</p>
            {% endif %}
  
          <p>Hasil : {{ result }}</p>
        </div>
      </div>

      <div id="about" class="section">
        <img src="../static/picture/bg-4.png">   
      </div>

    </main>

    <!-- <footer>
      <p>Program Studi Informatika Fakultas Teknik Universitas Tanjungpura</p>
    </footer> -->
  </body>
  <script>
    function showSection(sectionId) {
      // Hide all sections
      var sections = document.getElementsByClassName('section');
      for (var i = 0; i < sections.length; i++) {
        sections[i].classList.remove('active');
      }

      // Show the selected section
      var section = document.getElementById(sectionId);
      section.classList.add('active');
    }
  </script>
</html>
